<%
@title = 'Account'
@heading = 'Account'
@subheading = 'Plan'
%>

<%= render 'shared/pricing_table', plans: @plans, account: @current_account, action: :change  %>

<div class="row">
  <div class="col-md-12">
    <p><%= link_to "Cancel account", cancel_settings_plan_path, class: "btn btn-danger" %></p>
  </div>
</div>
