/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*** BEGIN: Hacks to make Bootstrap mostly work with the default rails helpers ***/
div.field_with_errors {
  display: inline;
}
.field_with_errors + .help-block,
.field_with_errors .control-label,
.field_with_errors .radio,
.field_with_errors .checkbox,
.field_with_errors .radio-inline,
.field_with_errors .checkbox-inline {
  color: #a94442;
}
.field_with_errors .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.field_with_errors .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}
// Need something to do .input0group-addon BEFORE the .field_with_errors
.field_with_errors + .input-group-addon {
  color: #a94442;
  background-color: #f2dede;
  border-color: #a94442;
}
.field_with_errors + .form-control-feedback {
  color: #a94442;
}
/*** END: Hacks to make Bootstrap mostly work with the default rails helpers ***/

/*** BEGIN: Styling for user box in navbar. Based on http://bootsnipp.com/snippets/featured/nav-account-manager ***/
.navbar-content
{
    width:320px;
    padding: 15px;
    padding-bottom:0px;
}
.navbar-content:before, .navbar-content:after
{
    display: table;
    content: "";
    line-height: 0;
}
.navbar-footer
{
    background-color:#DDD;
}
.navbar-footer-content
{
	padding:15px 15px 15px 15px;
}
.dropdown-menu
{
	padding: 0px;
	overflow: hidden;
}
/*** END: Styling for user box in navbar. Based on http://bootsnipp.com/snippets/featured/nav-account-manager ***/

/*** BEGIN Styling for the pricing table. Based on http://bootsnipp.com/snippets/featured/plans-and-pricing ***/
.pricing-table .panel
{
	padding: 0px;
	text-align: center;
}
.pricing-table .panel:hover
{
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 5px rgba(130, 130, 130, 0.35);
}
.pricing-table  .panel-heading>h3
{
	text-align: center;
}
.pricing-table .panel-body
{
	padding: 0px;
	text-align: center;
}
.pricing-table  .the-price
{
	background-color: rgba(220,220,220,.17);
	box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #fff;
	padding: 20px;
	margin: 0;
}
.pricing-table  .the-price h1
{
	line-height: 1em;
	padding: 0;
	margin: 0;
}
.pricing-table .subscript
{
    font-size: 25px;
}
.pricing-table .list-group
{
	margin: 0;
}
.pricing-table .list-group .list-group-item
{
	border: 0;
}
/* CSS-only ribbon styles    */
.pricing-table .cnrflash
{
	/*Position correctly within container*/
	position: absolute;
	top: -9px;
	right: 4px;
	z-index: 1; /*Set overflow to hidden, to mask inner square*/
	overflow: hidden; /*Set size and add subtle rounding  		to soften edges*/
	width: 100px;
	height: 100px;
	border-radius: 3px 5px 3px 0;
}
.pricing-table .cnrflash-inner
{
	/*Set position, make larger then 			container and rotate 45 degrees*/
	position: absolute;
	bottom: 0;
	right: 0;
	width: 145px;
	height: 145px;
	-ms-transform: rotate(45deg); /* IE 9 */
	-o-transform: rotate(45deg); /* Opera */
	-moz-transform: rotate(45deg); /* Firefox */
	-webkit-transform: rotate(45deg); /* Safari and Chrome */
	-webkit-transform-origin: 100% 100%; /*Purely decorative effects to add texture and stuff*/ /* Safari and Chrome */
	-ms-transform-origin: 100% 100%;  /* IE 9 */
	-o-transform-origin: 100% 100%; /* Opera */
	-moz-transform-origin: 100% 100%; /* Firefox */
	background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.1) 50%), linear-gradient(0deg, transparent 0%, rgba(1,1,1,.2) 50%);
	background-size: 4px,auto, auto,auto;
	background-color: #aa0101;
	box-shadow: 0 3px 3px 0 rgba(1,1,1,.5), 0 1px 0 0 rgba(1,1,1,.5), inset 0 -1px 8px 0 rgba(255,255,255,.3), inset 0 -1px 0 0 rgba(255,255,255,.2);
}
.pricing-table .cnrflash-inner:before, .pricing-table .cnrflash-inner:after
{
	/*Use the border triangle trick to make  				it look like the ribbon wraps round it's 				container*/
	content: " ";
	display: block;
	position: absolute;
	bottom: -16px;
	width: 0;
	height: 0;
	border: 8px solid #800000;
}
.pricing-table .cnrflash-inner:before
{
	left: 1px;
	border-bottom-color: transparent;
	border-right-color: transparent;
}
.pricing-table .cnrflash-inner:after
{
	right: 0;
	border-bottom-color: transparent;
	border-left-color: transparent;
}
.pricing-table .cnrflash-label
{
	/*Make the label look nice*/
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	padding-bottom: 5px;
	color: #fff;
	text-shadow: 0 1px 1px rgba(1,1,1,.8);
	font-size: 0.95em;
	font-weight: bold;
	text-align: center;
}
/*** END Styling for the pricing table. Based on http://bootsnipp.com/snippets/featured/plans-and-pricing ***/
